<div class="cont">
  
  <div class="left">
   
      <div class="iconUser">
        <div class="d-flex align-items-center">


          <h3 class="kl">Klijent</h3><button (click)="removeKlijent()" class="x" ><i class="bi bi-file-x-fill xCon"></i></button>
        </div>
        
        <i class="bi bi-person-fill icon"></i>
           


           <div class="klijent">
            <p>Ime:{{receivedData.ime}}</p>
            <p>Email:{{receivedData.email}}</p>
            <p>Adresa:{{receivedData.adresa}}</p>
            <p>Rodjen:{{receivedData.datum}}</p>
           </div>
   
    </div>

    <div class="recepti">
     <h6>Recepti</h6>
     <p>Lekovi na recept za koji dati korrisnik poseduje recept su obojeni zelenom bojom i moguce je ih izdati.</p>
     <p>Ako želite da pogledate izdate recepte pogledajte ispod.</p>
    <div class="center"><button (click)="pogledajRecepte()" class="receptiP"><i class="bi bi-list-check iconR"></i>Recepti</button></div> 

    </div>
    
    
  </div>
  <div class="main">
    
<div class="items">

  @for (lek of lekovi; track $index) {

     @if(lek.kolicina>0)
     {
    @if(isLekInRecepti(lek.id))
    {
      <div class="item" style="background-color: #aedcae;" >
        <div class="begin"><p class="naslov">{{lek.naziv}}</p>

         @if(lek.naRecept)
         {
            <div class="recept">Na recept!</div>
         }

        </div>
       
        <img src="{{lek.photoUrl}}" width="200" height="200">
        <p class="opis">{{lek.opis.slice(0,20)}} ...</p>
        <p class="cena">Cena: {{lek.cena}}.00din</p>
        @if (lek.naRecept) {
          <div class="quantity-container">
            <button class="button-circle" (click)="decreaseQuantity(lek.id)">-</button>
            <div class="value-circle">{{ quantities[lek.id] || 1 }}</div>
            <button class="button-circle" (click)="increaseQuantity(lek.id)">+</button>
            <button (click)="placeOrder(lek.id)">Naruci</button>
          </div>
        }
    </div>
   

    } 
    @else
    {
      <div class="item"  >
      <div class="begin"><p class="naslov">{{lek.naziv}}</p>

       @if(lek.naRecept)
       {
          <div class="recept">Na recept!</div>
       }

      </div>
     
      <img src="{{lek.photoUrl}}" width="200" height="200">
      <p class="opis">{{lek.opis.slice(0,20)}} ...</p>
      <p class="cena">Cena: {{lek.cena}}.00din</p>
    
      @if (!lek.naRecept) {
        <div class="quantity-container">
          <button class="button-circle" (click)="decreaseQuantity(lek.id)">-</button>
          <div class="value-circle">{{ quantities[lek.id] || 1 }}</div>
          <button class="button-circle" (click)="increaseQuantity(lek.id)">+</button>
          <button (click)="placeOrder(lek.id)">Naruci</button>
        </div>
      }
      
  </div>
    }     
     }
}


</div>
   

  <div class="pagination-container">
    <button (click)="goToPrevious()" [disabled]="pageNumber === 1">
      Prethodni
    </button>

    <button
      *ngFor="let page of pages"
      (click)="goToPage(page)"
      [class.active]="page === pageNumber"
    >
      {{ page }}
    </button>

    <span *ngIf="showDots && pageNumber < totalPages - 2">...</span>

    <button (click)="goToNext()" [disabled]="pageNumber === totalPages">
      Sledeći
    </button>
  </div>
  </div>
  
</div>