<div class="container">

<div class="cont">
    <div class="first"></div>
    <div class="slika">
<img src="{{lek?.photoUrl}}" width="450" height="400">
    </div>
    <div class="opis">
    
        <h3>{{lek?.naziv}}</h3>
        <p>Proizvodjač:{{lek?.proizvodjac}}</p>
        @if(lek?.kolicina>0)
        {
         <p><i class="bi bi-check-square-fill check"></i>Na stanju</p>
        }
        @else{
            <p><i class="bi bi-file-excel-fill"></i> Trenutno nemamo ovaj lek!</p>
        }
       <div class="desc">
     
        <p> <i class="bi bi-capsule cap"></i>{{lek?.opis}}</p>
       </div>
       @if(lek?.naRecept){

        <div class="recept">
            <p>Neki lekovi zahtevaju recept kako bi se osiguralo da se koriste na pravilan i bezbedan način. </p>
            <p>Ovaj lek zahteva recept!</p>
        </div> 
       }
     
       <div class="cena">
        <p >Cena:{{lek?.cena}}din</p>
       </div>
     @if(accountService.currentUser()?.role=='Farmaceut')
     {
       <p>Kao Farmaceut mozete dodati zalihe ovog leka u  sistem!</p>
       <p>Lekova u sistemu:{{lek?.kolicina}}</p>
       <div class="quantity-controls">
        <button class="round-btn minus" (click)="decreaseValue()">−</button>
        <input type="number" id="quantity" [(ngModel)]="quantity" min="1" readonly>
        <button class="round-btn plus" (click)="increaseValue()">+</button>
        <button class="izdaj" (click)="send()">Dodaj</button>
       </div>
    }
    </div>
</div>

</div>
