.title{
    text-align: center;
   padding: 10px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

thead {
    background-color: #4CAF50;
    color: #fff;
}

th, td {
    text-align: left;
    padding: 20px;
}

th {
    font-size: 18px;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e8f5e9;
}

td {
    font-size: 16px;
}
.addMed{
    width: 55px;
    height: 55px;
    background-color: #3EB489;
    color: white;
    border: none;
    text-align: center;
    
    font-size: 30px;
   margin-left:30px;
    border-radius: 50%;
    transition: all 0.3s ease;
  
  }
  .addMed:hover{
  
    background-color: black;
    transform: scale(1.1); 
  
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .pagination-container button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    color: black;
  }
  
  .pagination-container button.active {
    background-color: #3498db;
    color: white;
  }
  
  .pagination-container button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  