<div class="all">


    <div class="search-container">
        <input 
          type="text" 
          placeholder="Pretrazi..." 
          [(ngModel)]="searchQuery" 
          (input)="onSearchChange()" 
          class="search-input"
        />
        <button class="search-button" (click)="onSearch()">
          🔍
        </button>
      </div>
      @if(accountService.currentUser()?.role=='Farmaceut')
      {  <button (click)="dodaj()" class="addMed">+</button>}
  
    
    <div class="row">
    
        <div class="cont">
            @for (lek of lekovi; track lek.id) {
                <div class="item">
                    <div class="begin"><p class="naslov">{{lek.naziv}}</p>

                     @if(lek.naRecept)
                     {
                        <div class="recept">Na recept!</div>
                     }

                    </div>
                   
                    <img src="{{lek.photoUrl}}" width="200" height="200">
                    <p class="opis">{{lek.opis.slice(0,20)}} ...</p>
                    <p class="cena">Cena: {{lek.cena}}.00din</p>
                    <button class="naruci" (click)="detalji(lek.id)" >Detalji</button>
                </div>
               
            }
        </div>
    </div>
    <div class="pagination-container">
      <button (click)="goToPrevious()" [disabled]="pageNumber === 1">
        Prethodni
      </button>
  
      <button
        *ngFor="let page of pages"
        (click)="goToPage(page)"
        [class.active]="page === pageNumber"
      >
        {{ page }}
      </button>
  
      <span *ngIf="showDots && pageNumber < totalPages - 2">...</span>
  
      <button (click)="goToNext()" [disabled]="pageNumber === totalPages">
        Sledeći
      </button>
    </div>
</div>