.item{
   
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; ;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
    padding: 10px 15px;
    
}
.cont{
    display: flex;
    flex-wrap: wrap;
   
}

.item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cena{
   font-size: 16px;
margin: 10px;
   font-weight: bold;
}
.opis{
    color: #808080; /* Light grey color */
      font-size: 12px;
      margin: 10px;
}
.begin
{
    display: flex;
 padding: 5px;  
   
}
.naslov{
    flex: 4;
    font-size: larger;
    text-transform: capitalize;
    
}


.recept{
    background-color: #cc3300;
    border-radius: 10px;
    padding: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    animation: pulsate 1.5s infinite;   
    align-items: center;
}
.naruci{
    background-color:#3EB489 ;
    margin-top: 5px;
    padding: 10px 15px;
    width: 100%;
    border:none;
    border-radius: 8px;
    color:white;
}
.naruci:hover{
  background-color: black;
}
@keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }