.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}
.text-gray{
    color: rgb(194, 190, 190);
}
.active{
    color: white;
}
.text-gray:hover{
    color:white;
}
.nav{
    background-color: #0D98BA!important;
}
.logo{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    
    font-weight: bold;
     /* Blue theme for trust */
    margin: 20px;

}

.itemDropdown{
    padding: 10px;
   
    color: black !important;
     
}
.itemDropdown:active{
    background-color: #3EB489;
}
.dropdown-menu{
 
    padding: 5px!important;
    width: max-content!important;
    background-color:#F5F5F5;;
    color: black
}

.icon{
   
    padding: 5px;
}
/* Dropdown Menu Animation */
.order{
    padding: 5px;
    
}
.order-items {
    display: flex;
    flex-direction: column; /* Keep items stacked vertically in the dropdown */
    gap: 10px; /* Space between order items */
    padding: 10px;
  }
  
.cartTitle{
    font-size: 20px;
    margin: 5px;
    text-align: center;
    color: lightslategray;
}
.proizvodCart{
    display: flex;
    justify-content: center;
    width: max-content;

    margin-top: 13px;
}

.cartCena{
    text-align: center;
    font-size: 20px;
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
}
.checkout{
    width: 100%;
    padding: 5px;
    background-color: #3EB489;
    color: white;
}