<header class="mb-3 text-bg-dark nav">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <!-- Logo -->
       @if(accountService.currentUser())
       {
        <a routerLink="/lekovi" class="d-flex align-items-end mb-2 mb-lg-0   text-decoration-none">
          <img src="img/LifeCare.png" 
               alt="Logo" width="50" height="50" >
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/lekovi" class="nav-link px-2 logo">LifeCARE +</a></li>
        </ul>
       }
       @else
       {
        <a routerLink="/" class="d-flex align-items-end mb-2 mb-lg-0   text-decoration-none">
          <img src="img/LifeCare.png" 
               alt="Logo" width="50" height="50" >
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 logo">LifeCARE +</a></li>
        </ul>

       }
      

      <!-- Navigation Links -->
    
      
      <!-- Navigation Menu -->
      <div style="display: flex; justify-content: end;">
       
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
       
           @if(accountService.currentUser()){
          <li><a routerLinkActive="active" routerLink="/lekovi" class="nav-link px-2 text-gray">LEKOVI</a></li>
          <li><a routerLinkActive="active" routerLink="/list-klijenti" class="nav-link px-2 text-gray">KLIJENTI</a></li>
          <li><a routerLinkActive="active" routerLink="/transakcije" class="nav-link px-2 text-gray">TRANSAKCIJE</a></li>
          }
          <!-- <li><a routerLinkActive="active" routerLink="/errors" class="nav-link px-2 text-gray">Errors</a></li> -->
        </ul>
      
      </div>



    @if(accountService.currentUser()){
      <div dropdown class="dropdown">
        <a dropdownToggle routerLinkActive="active" class="dropdown-toggle  text-decoration-none text-gray px-2">PROFIL</a>
        <div *dropdownMenu class="dropdown-menu">
          @if(accountService.currentUser()?.role==='Admin')
          {
            <a routerLink="/admin-register" class="dropdown-item itemDropdown"><i class="bi bi-person-fill icons"></i> Dodaj korisnike</a>
            <a routerLink="/admin-transakcije" class="dropdown-item itemDropdown"><i class="bi bi-list-columns-reverse icons"></i> Transakcije</a>
          }
         
          <div class="divider"></div>
          <a class="dropdown-item itemDropdown" (click)="logout()" ><i class="bi bi-box-arrow-right icons"></i>
            Logout</a>
        </div>
        
      </div>
    }
    
    @if(accountService.currentUser() ){
      <div dropdown class="dropdown">
        <a dropdownToggle routerLinkActive="active" class="dropdown-toggle  text-decoration-none text-gray px-2 ">NARUDZBINA<i  class="bi bi-cart-fill icon"></i></a>
        @if(recievedData)
        {
          
          <div *dropdownMenu class="dropdown-menu order">
            <p class="cartTitle">Za:{{recievedData.ime}}</p>
            <div class="order-items">
            @for (lek of recievedData.prodajaDetalji; track $index) {
              <div class="order-item d-flex align-items-center justify-content-center gap-3 border p-2">
                <img src="{{lek.photoUrl}}" width="50" height="50"/>
                <div class="d">
                  {{lek.naziv}}
                </div>
                <div class="proizvodCart">
                 
                  <p>x{{lek.kolicinaProizvoda}}</p>
                </div>
                
              </div>
              
            }
            <p class="cartCena">Cena:{{cena}}din.</p>
            <button (click)="checkout()" class="checkout">Checkout</button>
            </div>
          </div>
        }
      
        
        
      </div>
    }

      <!-- Login Form -->
      @if(!accountService.currentUser()){
    
      <li><a routerLinkActive="active" routerLink="" class="nav-link px-2 text-gray">LOGIN</a></li>
    }
    </div>
  </div>
</header>
