
<div class="center">
<form [formGroup]="registerForm" class="registerForm" (ngSubmit)="register()" autocomplete="off">
    
    <h2 class="text-center text">Registruj nove korisnike</h2>
  
    
    <app-text-input [formControl]="$any(registerForm.controls['name'])"
    label="Name"></app-text-input>
    <app-text-input  [formControl]="$any(registerForm.controls['surname'])"
    [label]="'Surname'"
    type="text"
    ></app-text-input>
    <app-text-input  [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
    type="text"
    ></app-text-input>
    <app-text-input  [formControl]="$any(registerForm.controls['email'])"
    [label]="'Email'"
    type="text"
    ></app-text-input>

    <div class="mb-3 form-floating">
        <div class="form-group">
            <label for="role">Uloga:</label>
            <select
              id="role"
              formControlName="role"
              [class.invalid]="registerForm.get('role')?.invalid && registerForm.get('role')?.touched"
            >
              <option value="" disabled selected>Select a role</option>
              <option *ngFor="let option of roles" [value]="option.role">{{ option.role }}</option>
            </select>
            <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error">
              Uloga je obavezna.
            </div>
        </div>
       
    
      
    </div>
    
    <app-text-input  [formControl]="$any(registerForm.controls['phone'])"
    [label]="'Phone'"
    type="text"
    ></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    type="password"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm password'"
    type="password"></app-text-input>
    @if (validationErrors) {
        <div class="alert alert-danger">
            
            <ul>
                @for (error of validationErrors; track $index) {
                    
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
    <div class="form-group text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success btnB me-2" type="submit">Register</button>
        <button class="btn btnRed" (click)="cancel()" type="submit">Go Back</button>
    </div>
</form>

</div>